<section class="filter" [formGroup]="form">
  <p class="title-filter">Разрешение экрана:</p>
  <mat-form-field color="pink">
    <mat-select formControlName="resolution" multiple>
      <mat-option *ngFor="let resolution of resolutions" [value]="resolution">
        {{ resolution }}
      </mat-option>
      <mat-option value="selectedAll" checked="true">
        Выбрать все
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p class="title-filter">Назначение:</p>
  <mat-form-field color="pink">
    <mat-select formControlName="purpose" multiple>
      <mat-option *ngFor="let purpose of purposes" [value]="purpose">
        {{ purpose }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="price-block"> 
  <p class="title-filter">Цена:</p>

    <!-- <li class="block-price"> -->
      <div> 
      <app-slider></app-slider>
    </div>
    <div class="input-price-wrabber">
    <mat-form-field class="example-form-field" appearance="fill" class="min-max-value">
      <mat-label>От:</mat-label>
      <input matInput type="text" FormControlName="minValue" [value]="$any(price$ | async)?.[0]">
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill" class="min-max-value">
      <mat-label>До:</mat-label>
      <input matInput type="text" FormControlName="maxValue" [value]="$any(price$ | async)?.[1]">
    </mat-form-field>
  </div>
</div>
</section>
<!-- (price$ | async)[0] -->
<!-- (price$ | async)[0] -->

<!-- <p class="min-max-value"> {{ minPrice$ | async }} </p>
<p class="min-max-value"> {{ maxPrice$ | async}} </p> -->

<!-- [displayWith]="formatLabel" -->

<!-- <mat-slider aria-label="unit(s)"></mat-slider> -->
