<section class="filter">
  <p class="title-filter">Разрешение экрана:</p>
  <ul class="filter-resolution">
    <li *ngFor="let resolution of resolutionForRender$ | async">
      <mat-checkbox [checked]="resolution.checked" (change)="toggleResolutionFilter(resolution.name)">
        {{resolution.name}}
      </mat-checkbox>
    </li>
    <li>
      <mat-checkbox [checked]="true">
        Выбрать все
      </mat-checkbox>
    </li>
  </ul>
  <p class="title-filter">Назначение:</p>
  <ul>
    <li *ngFor="let purpose of purposeForRender$ | async">
      <mat-checkbox [checked]="purpose.checked" (change)="togglePurposeFilter(purpose.name)">
        {{ purpose.name }}
      </mat-checkbox>
    </li>
    <li>
      <mat-checkbox [checked]="true">
        Выбрать все
      </mat-checkbox>
    </li>
  </ul>
  <p class="title-filter">Цена:</p>
  <ul>
    <li class="block-price">
      <p class="min-max-value"> {{ minPrice$ | async }} </p>
      <mat-slider
      thumbLabel step="1000" tickInterval="1000" [max]="maxPrice$ | async" [min]="minPrice$ | async" aria-label="unit(s)">
      </mat-slider>
      <p class="min-max-value"> {{ maxPrice$ | async}} </p>
    </li>
  </ul>
  <p class="title-filter">Диагональ:</p>
  <ul>
    <li>
      <mat-slider aria-label="unit(s)"></mat-slider>
    </li>
  </ul>
</section>
<!-- [displayWith]="formatLabel" -->

<!-- <mat-slider aria-label="unit(s)"></mat-slider> -->
